* {
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    font-size: 20px;

}

body {
    background-image: url(https://wallpapers.com/images/hd/playstation-4k-9ck9eozd590603ze.jpg);
    background-size: cover;
    background-repeat: repeat;
}

.main-wrapper {
    position: relative;
    top: 10px;
    background-color:rgba(0, 0, 0, 0.5);
}

.main-nav {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    justify-content: center;
    gap: 40px;
    margin-left: 22px;
    margin-top: 30px;
   
}
section > ul > li > a {
    text-decoration: none;
}

a:hover {
    color: #F3C53E;
    text-decoration: underline;
}

.games {
    position: relative;
    top: 30px;
    width: 80%;
    height: 750px;
    margin: auto;
    /*background-color: blue;*/
    display: flex;
    flex-flow:row wrap;
    gap: 30px;
    justify-content: space-around;

}

.game {
    width: 190px;
    height: 190px;
    /*filter: grayscale(1);*/
    /*background-color: aqua;*/
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.655);
}

.game:hover {
    filter: grayscale(1);
}

footer {
    font-size: .8em;
    text-align: center;
}




